<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
  <head>
    <title>Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  	<link rel="stylesheet" th:href="@{/css/tasks.css}">
  </head>
  <body>
    <div class="container">
    	<div class="row">
    		<div class="col-sm-6">
    			<h1 class="display-3">Departments</h1>
    			<hr>
    			<table class="table table-bordered table-hover">
    				<thead>
    					<tr>
    						<th>ID</th>
    						<th>NAME</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr th:each="d : ${departments}">
    						<td th:text="${d.id}">Id</td>
    						<td th:text="${d.name}">Name</td>
    					</tr>
    				</tbody>
    			</table>
    			<hr>
    			<a th:href="@{/manage-departments}" class="link-text">Manage Departments</a>
    		</div>
    		<div class="col-sm-6">
    			<h1 class="display-3">Employees</h1>
    			<hr>
    			<table class="table table-bordered table-hover">
    				<thead>
    					<tr>
    						<th>CODE</th>
    						<th>NAME</th>
    						<th>DEPARTMENT</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr th:each="e : ${employees}">
    						<td th:text="${e.code}">Id</td>
    						<td th:text="${e.firstName}+' '+ ${e.lastName}">Name</td>
    						<td th:text="${e.department.name}">Department</td>
    					</tr>
    				</tbody>
    			</table>
    			<hr>
    			<a th:href="@{/manage-employees}" class="link-text">Manage Employees</a>
    		</div>
    		<div class="col-sm-6">
    			<h1 class="display-3">Tasks</h1>
    			<hr>
    			<table class="table table-bordered table-hover">
    				<thead>
    					<tr>
    						<th>DEPARTMENT</th>
    						<th>TASK</th>
    						<th>SHIFT</th>
    						<th>FREQUENCY</th>
    					</tr>
    				</thead>
    				<tbody>
    					<tr th:each="t : ${tasks}">
    						<td th:text="${t.department.name}">Department</td>
    						<td th:text="${t.name}">Task</td>
    						<td th:text="${t.shift}">Shift</td>
    						<td th:text="${t.frequency}">Frequency</td>
    					</tr>
    				</tbody>
    			</table>
    			<hr>
    			<a th:href="@{/manage-tasks}" class="link-text">Manage Tasks</a>
    		</div>
    		<div class="col-sm-6">
    			<h1 class="display-3">Todos</h1>
    			<hr>
    			<a th:href="@{/manage-todos}" class="link-text">Manage Todos</a>
    		</div>
    	</div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>